@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}



/** header **/

header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between; 
    width: 70%;
    margin-bottom: 60px;
}

.header-logo{
    margin: 10px;
    font-size: 24px;
    color: #F9FAF8;
}

div.header-links{
    justify-content: flex-end;
}

ul, a{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;  
    font-size: 18px;
    color: #E5E7EB;
}

li{
    margin: 10px;
}

/** hero **/

.hero-header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text {
    font-size: 18px;
    color:#E5E7EB;
    flex-wrap: wrap;
    width: 40%;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-bottom: 60px;
}

.header-button {
    color:#F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    width: 120px;
    padding: 4px;
}

.computer-image {
    height: 300px;
    width: 450px;
}


.hero-right {
    display: flex;
    flex-direction: column;
    color:#F9FAF8
}

a {
    flex-direction: column;
}

/** info card **/

.info-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
}

.info-card-header{
    margin: 40px;
    align-items: center;
    flex-direction: row;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
}

.some-under-text {
    text-align: center;
}

.box-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    
}

.info-content {
    display: flex;
    flex-direction: row;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}

.quote-wrapper{
    display: flex;
    flex-direction: column ;
    align-items: center;
    width: 1200px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 70%;
    margin-top: 100px;
}

.thor{
    font-weight: bolder;
    text-align: end;
    justify-content: flex-end;
    margin-left: 660px;
}

/** Call to Action **/

.call-to-action{
    display: flex;
    justify-content: center;
}

.blue-div{
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 8px;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 60px;
}

.call-to-action-button{
    color:#F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 10px;
    width: 120px;
}

.finally-time{
    font-weight: bolder;
    font-size: 22px;
}

/** Footer **/

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.footer-span{
    margin: 60px;
}




/*** Colors and font styles ***/

/*** 

dark background color (hero and footer) 
#1F2937

Hero Main text ("this website is awesome")
48px extra-bold #F9FAF8

Hero Secondary text, Header Link Text
18px #E5E7EB 

Header Logo Text
24px #F9FAF8

Button color, call to action background color
#3882F6

information header text
36px extra-bold #1F2937

Quote Section background COlor
#E5E7EB

Quote text
36px light italic #1F2937

***/