@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Erase Me Later */

header, nav, .headerLeft, .headerRight, section, footer {
    border: 2px solid black;
}

.headerLinks {
    border: 2px solid white;
}

/* Layout */ 

header {
    height: 100vh;
}

.headerLeft {
    width: 50%;
    height: 100%;
}

.headerRight {
    width: 50%;
    height: 100%
}

nav {
    height: 10vh;
}

section {
    height: 100vh;
}

footer {
    height: 20vh;
}

/* Flexbox */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerLinks {
    display: flex;
    flex-direction: row;
}

li:hover {
    color: skyblue;
    cursor: pointer;
}

header {
    display: flex;
}

.headerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headerRight {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Typography */

html {
    font-size: 62.5%;
}

.headerLinks {
    list-style-type: none;
}

li {
    margin: 10px;
}


.headerH1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.headerLogo {
    color: #F9FAF8;
    font-size: 24px;
}

.headerLinks {
    color: #E5E7EB;
    font-size: 18px;
}

.headerP {
    color: #E5E7EB;
    font-size: 18px;
}

.headerH1, .headerP, .headerButton {
    margin: 20px;
}

/* Content */

nav {
    background-color: #1f2937;
}

header {
    background-color: #1f2937;
}

.placeholderImage {
    height: 300px;
    width: 700px;
    background-color: #6c747d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerButton {
    color: white;
    background-color: #3882F6;
    width: 150px;
    height: 40px;
    border-radius: 5%;
}

/*** Colors and font styles ***/

/* font-family: 'Roboto', sans-serif;


/*** 

dark background color (hero and footer) 
#1F2937

Hero Main text ("this website is awesome")
48px extra-bold #F9FAF8

Hero Secondary text, Header Link Text
18px #E5E7EB 

Header Logo Text
24px #F9FAF8

Button color, call to action background color
#3882F6

information header text
36px extra-bold #1F2937

Quote Section background COlor
#E5E7EB

Quote text
36px light italic #1F2937

***/ 